body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

header {
    padding: 20px;
    text-align: center;
}

h2 {
    color: blue;
}

footer {
    text-align: center;
    margin-top: 20px;
}

.dark {
    background-color: #333;
    color: white;
}

.dark h2 {
    color: lightblue; /* Adjust as needed for contrast */
}

.dark #logo {
    content: url('byui-logo-white.png'); /* Ensure you have a white logo */
}
